In [1]:
import numpy as np 
import pandas as pd

df = pd.read_csv('heart.csv')
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [2]:
df.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [8]:
x = df[['chol','trestbps', 'thalach']]
x

     chol  trestbps  thalach
0     233       145      150
1     250       130      187
2     204       130      172
3     236       120      178
4     354       120      163
..    ...       ...      ...
298   241       140      123
299   264       110      132
300   193       144      141
301   131       130      115
302   236       130      174

[303 rows x 3 columns]

In [9]:
y = df['target']
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [19]:
import math

In [24]:
import collections

In [25]:
def pre_prob(y):
    y_dict = collections.Counter(y)
    pre_probab = np.ones(2)
    for i in range(0, 2):
        pre_probab[i] = y_dict[i]/y.shape[0]
    return pre_probab

In [26]:
def mean_var(X, y):
    n_features = X.shape[1]
    m = np.ones((2, n_features))
    v = np.ones((2, n_features))
    n_0 = np.bincount(y)[np.nonzero(np.bincount(y))[0]][0]
    x0 = np.ones((n_0, n_features))
    x1 = np.ones((X.shape[0] - n_0, n_features))
    
    k = 0
    for i in range(0, X.shape[0]):
        if y[i] == 0:
            x0[k] = X[i]
            k = k + 1
    k = 0
    for i in range(0, X.shape[0]):
        if y[i] == 1:
            x1[k] = X[i]
            k = k + 1
        
    for j in range(0, n_features):
        m[0][j] = np.mean(x0.T[j])
        v[0][j] = np.var(x0.T[j])*(n_0/(n_0 - 1))
        m[1][j] = np.mean(x1.T[j])
        v[1][j] = np.var(x1.T[j])*((X.shape[0]-n_0)/((X.shape[0]
                                                      - n_0) - 1))
    return m, v # mean and variance

In [34]:
def prob_feature_class(m, v, x):
    n_features = m.shape[1]
    pfc = np.ones(2)
    for i in range(0, 2):
        product = 1
        for j in range(0, n_features):
            product = product * (1/math.sqrt(2*3.14*v[i][j])) * math.exp(-0.5
                                 * pow((x[j] - m[i][j]),2)/v[i][j])
        pfc[i] = product
    return pfc

In [28]:
def GNB(X, y, x):
    m, v = mean_var(X, y)
    pfc = prob_feature_class(m, v, x)
    pre_probab = pre_prob(y)
    pcf = np.ones(2)
    total_prob = 0
    for i in range(0, 2):
        total_prob = total_prob + (pfc[i] * pre_probab[i])
    for i in range(0, 2):
        pcf[i] = (pfc[i] * pre_probab[i])/total_prob
    prediction = int(pcf.argmax())
    return prediction

In [37]:
X_train = np.array(x_train)
X_train

array([[295, 120, 162],
       [270, 150, 111],
       [231, 150, 147],
       [250, 135, 161],
       [230, 117, 160],
       [303, 128, 159],
       [288, 132, 159],
       [294, 140, 153],
       [335, 140, 158],
       [198, 105, 168],
       [226, 140, 178],
       [244, 150, 154],
       [222, 122, 186],
       [212, 145, 132],
       [262, 130, 155],
       [232, 154, 164],
       [218, 126, 134],
       [254, 125, 163],
       [220, 125, 144],
       [175, 138, 173],
       [184, 132, 105],
       [265, 102, 122],
       [222, 100, 143],
       [211, 110, 161],
       [268, 140, 160],
       [298, 140, 122],
       [239, 140, 151],
       [223, 106, 142],
       [240, 105, 154],
       [197, 140, 116],
       [199,  94, 179],
       [204, 130, 202],
       [219, 120, 158],
       [239, 140, 160],
       [175, 138, 173],
       [197, 130, 131],
       [233, 108, 147],
       [220, 120, 170],
       [309, 125, 131],
       [232, 150, 165],
       [340, 120, 172],
       [204, 112, 143],
       [318, 114, 140],
       [234, 100, 156],
       [234, 130, 175],
       [244, 120, 162],
       [209, 124, 163],
       [177, 120, 140],
       [177, 120, 120],
       [220, 138, 152],
       [243, 108, 152],
       [187, 140, 144],
       [247, 150, 171],
       [290, 112, 153],
       [394, 140, 157],
       [230, 112, 165],
       [226, 120, 169],
       [277, 118, 151],
       [299, 100, 125],
       [205, 128, 130],
       [239, 110, 142],
       [335, 110, 143],
       [256, 130, 142],
       [322, 130, 109],
       [260, 120, 140],
       [201, 134, 158],
       [253, 130, 144],
       [241, 140, 123],
       [229, 128, 150],
       [269, 120, 121],
       [269, 155, 148],
       [282, 126, 156],
       [224, 132, 173],
       [295, 120, 157],
       [313, 140, 133],
       [284, 120, 160],
       [193, 120, 162],
       [315, 136, 125],
       [275, 110, 118],
       [286, 160, 108],
       [353, 132, 132],
       [330, 130, 169],
       [204, 130, 172],
       [215, 120, 170],
       [240, 150, 171],
       [225, 150, 114],
       [303, 130, 122],
       [341, 132, 136],
       [282, 123,  95],
       [277, 152, 172],
       [213, 122, 165],
       [197, 130, 152],
       [298, 152, 178],
       [283, 192, 195],
       [236, 138, 152],
       [192, 122, 174],
       [188, 120, 139],
       [235, 110, 153],
       [185, 140, 155],
       [217, 140, 111],
       [183, 138, 182],
       [274, 180, 150],
       [564, 115, 160],
       [254, 135, 127],
       [221, 130, 163],
       [266, 130, 171],
       [177, 142, 160],
       [417, 140, 157],
       [209, 120, 173],
       [326, 170, 140],
       [271, 134, 162],
       [281, 120, 103],
       [302, 120, 151],
       [226, 142, 111],
       [307, 145, 146],
       [174, 145, 125],
       [245, 130, 180],
       [248, 100, 122],
       [282, 138, 174],
       [178, 120,  96],
       [212, 150, 157],
       [197, 124, 136],
       [303, 115, 181],
       [304, 125, 162],
       [233, 145, 150],
       [234, 134, 145],
       [212, 125, 168],
       [244, 148, 178],
       [230, 112, 160],
       [240, 120, 194],
       [229, 110, 168],
       [315, 130, 162],
       [304, 135, 170],
       [309, 108, 156],
       [228, 160, 138],
       [212, 112, 132],
       [246, 120,  96],
       [246, 160, 120],
       [275, 130, 139],
       [264, 110, 132],
       [197, 110, 177],
       [261, 124, 141],
       [175, 110, 123],
       [239, 110, 126],
       [354, 120, 163],
       [268, 112, 172],
       [219, 130, 188],
       [177, 140, 162],
       [157, 120, 182],
       [293, 140, 170],
       [231, 120, 182],
       [201, 110, 126],
       [186, 118, 190],
       [269, 130, 163],
       [196, 136, 169],
       [212, 152, 150],
       [199, 172, 162],
       [258, 120, 147],
       [149, 118, 126],
       [211, 140, 165],
       [321, 140, 182],
       [269, 160, 112],
       [253, 130, 179],
       [308, 140, 142],
       [267, 108, 167],
       [319, 136, 152],
       [263, 130,  97],
       [278, 146, 152],
       [243, 150, 137],
       [269, 108, 169],
       [325, 180, 154],
       [308, 128, 170],
       [258, 150, 157],
       [219, 118, 140],
       [360, 160, 151],
       [274, 124, 166],
       [169, 120, 144],
       [228, 178, 165],
       [248, 110, 158],
       [283, 150, 162],
       [257, 138, 156],
       [160, 112, 138],
       [327, 180, 117],
       [198, 120, 130],
       [204, 134, 162],
       [258, 125, 141],
       [342, 132, 166],
       [264, 130, 143],
       [330, 130, 132],
       [245, 156, 143],
       [305, 130, 142],
       [407, 150, 154],
       [259, 128, 130],
       [236, 120, 178],
       [211, 120, 115],
       [141, 108, 175],
       [250, 130, 187],
       [234, 138, 160],
       [250, 112, 179],
       [255, 128, 161],
       [213, 125, 125],
       [207, 132, 168],
       [231, 130, 146],
       [206, 110, 108],
       [249, 174, 143],
       [211, 110, 144],
       [214, 110, 158],
       [229, 120, 129],
       [176, 164,  90],
       [306, 126, 163],
       [203, 148, 161],
       [274, 152,  88],
       [252, 135, 172],
       [256, 130, 149],
       [206, 130, 132],
       [172, 110, 158],
       [131, 130, 115],
       [266, 124, 109],
       [203, 140, 155],
       [182, 118, 174],
       [216, 128, 115],
       [299, 140, 173],
       [294, 138, 106],
       [233, 130, 179],
       [240, 120, 169],
       [218, 146, 105],
       [216, 128, 131],
       [200, 144, 126],
       [180, 130, 150],
       [201, 160, 163],
       [149, 112, 125],
       [246, 130, 173],
       [197, 101, 156],
       [249, 125, 144],
       [271, 138, 182],
       [236, 130, 174],
       [234, 135, 161],
       [233, 140, 163],
       [227,  94, 154],
       [234, 160, 131],
       [249, 120, 144],
       [195, 140, 179]], dtype=int64)

In [38]:
Y_train = np.array(y_train)
y_train

132    1
202    0
196    0
75     1
176    0
      ..
188    0
71     1
106    1
270    0
102    1
Name: target, Length: 242, dtype: int64

In [41]:
pred = []
X_test = np.array(x_test)
for i in X_test :
    pred.append(GNB(X_train, Y_train, i))
    
pred

[0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0]

In [42]:
from sklearn.metrics import f1_score, precision_score, recall_score

In [44]:
print('f1_score', f1_score(y_test, pred, average="macro"))
print('precision_score', precision_score(y_test, pred, average="macro"))
print('recall_score', recall_score(y_test, pred, average="macro"))

f1_score 0.7516960651289011
precision_score 0.756043956043956
recall_score 0.7510775862068966

In [48]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
y_pred = gnb.fit(x_train, y_train).predict(x_test)

In [49]:
print('f1_score', f1_score(y_test, y_pred, average="macro"))
print('precision_score', precision_score(y_test, y_pred, average="macro"))
print('recall_score', recall_score(y_test, y_pred, average="macro"))

f1_score 0.7516960651289011
precision_score 0.756043956043956
recall_score 0.7510775862068966